@import "main.scss";

// trendroyal 2
.trendroyalproject2 {
    padding: 150px 106px 60px 106px;
    .container-fluid {
        margin: 0;
        padding: 0;
    }
    .yuzdelik {
        padding-bottom: 67px;
    }
    .yüzdelikbarout {
        background-color: #f4f4f4;
        height: 17px;
        margin-top: 10px;
        .yuzdelikbarin {
            height: 17px;
            background-color: #cbe7fe;
            width: 78%;
            animation: yuzdearttirma 5s normal;
        }
    }
    .card-item {
        @media screen and (max-width: 950px) {
            height: 240px;
        }
        @media screen and (max-width: 600px) {
            overflow: auto;
        }
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        padding: 20px 34px;
        height: 280px;
        border-radius: 18px;
        h3 {
            color: $color-darkblue;
            font-size: 36px;
            font-family: ndAstrooner;
            margin: 0;
        }
        p {
            @media screen and (max-width: 1500px) {
                font-size: 20px;
            }
            @media screen and (max-width: 1100px) {
                font-size: 18px;
            }
            @media screen and (max-width: 950px) {
                font-size: 22px;
            }
            color: $color-darkblue;
            font-size: 28px;
            font-family: ndAstrooner;
            margin: 30px 0 0 0;
        }
    }
    h3 {
        color: $color-darkblue;
        font-size: 36px;
        font-family: ndAstrooner;
    }
    h5 {
        @media screen and (max-width: 1550px) {
            font-size: 18px;
        }

        color: #6d8dad;
        font-size: 24px;
        font-family: ndAstrooner;
    }
    h2 {
        @media screen and (max-width: 1550px) {
            font-size: 60px;
        }
        @media screen and (max-width: 1200px) {
            font-size: 40px;
        }
        color: $color-darkblue;
        font-size: 80px;
        font-family: ndAstrooner;
    }
    h4 {
        @media screen and (max-width: 1550px) {
            font-size: 25px;
        }
        color: $color-darkblue;
        font-size: 35px;
        font-family: ndAstrooner;
    }
    h1 {
        @media screen and (max-width: 1550px) {
            font-size: 65px;
        }
        @media screen and (max-width: 1200px) {
            font-size: 45px;
        }
        color: $color-darkblue;
        font-size: 85px;
        font-family: ndAstrooner;
    }
}
@keyframes yuzdearttirma {
    0% {
        width: 0%;
    }
    100% {
        width: 79%;
    }
}
// trendroyal 2 End

// investment start
.investment {
    h1 {
        text-align: center;
        color: $color-darkblue;
        font-size: 56px;
        font-family: ndAstrooner;
        margin-bottom: 80px;
    }
    .invest-contents {
        h3 {
            color: $color-darkblue;
            font-size: 32px;
            font-family: ndAstrooner;
        }
        hr {
            border-top: solid 1px #e5e5e5;
        }
        h4 {
            color: $color-darkblue;
            font-size: 22px;
            font-family: ndAstrooner;
            margin: 0;
            margin-bottom: 4px;
        }
        h5 {
            color: #6d8dad;
            font-size: 18px;
            font-family: ndAstrooner;
            margin: 0;
        }
    }
}
// investment end

// Contracts start
.contract-side {
    background-color: #f5faff;
    .documant {
        .contract {
            color: $color-darkblue;
            font-size: 32px;
            font-family: ndAstrooner;
            margin: 0;
        }
    }
    .contents {
        div {
            width: 180px;
            height: 130px;
            border: solid 1px #e4effa;
            margin: 0 6px;
            display: flex;
            h4 {
                color: $color-darkblue;
                font-size: 22px;
                font-family: ndAstrooner;
                text-align: center;
                margin: 0;
                align-self: center;
            }
        }
    }
}

// Contrtars end

// ========== Reliable side Start ==========

.reliable {
    h1 {
        color: $color-darkblue;
        font-size: 52px;
        font-family: ndAstrooner;
        margin: 0;
        margin-bottom: 50px;
    }
    .main-card {
        background-color: #fafafa;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        .card-head {
            text-align: center;
            padding: 60px 0;
            height: 250px;
            img {
                width: 35%;
            }
        }
        .card-body {
            background-color: $color-white;
            padding: 34px;
            height: 250px;
            h2 {
                color: $color-darkblue;
                font-size: 30px;
                font-family: ndAstrooner;
            }
            p{
                color: $color-darkblue;
                font-size: 20px;
                font-family: ndAstrooner;
            }
        }
    }
}

//  Reliable side END

// notice fotoraf side start
.noticefoto{
    padding: 0;
    background-color: $color-darkblue;

}
// notice fotoraf side end