@import 'main.scss';
// ======== Notice Side ========
.notice {
    background-color: #f7f7f7;
    padding-top: 150px;
    .notice-blue-card {
        background-color: #dbedff;
        border-radius: 8px;
        padding: 65px 45px;
        h3 {
            color: $color-darkblue;
            font-size: 50px;
            font-family: ndAstrooner;
        }
        p {
            color: $color-darkblue;
            font-size: 27px;
            font-family: ndAstrooner;
        }
        img {
            @media screen and (max-width: $large) {
                margin: 0;
            }
            width: 260px;
            margin-right: 55px;
        }
    }
    .newsSwiper {
        position: relative;
        h4 {
            color: $color-darkblue;
            font-size: 32px;
            font-family: ndAstrooner;
        }
        .newsSwiper-button-next {
            width: 50px;
            height: 50px;
            background: #000;
            position: absolute;
            top: calc(50% - 1.5rem);
            left: 0px;
        }
        .news-card {
            background-color: $color-white;
            padding: 38px;
            border-radius: 12px;
            margin: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            position: relative;
            p {
                color: $color-darkblue;
                font-size: 26px;
                font-family: ndAstrooner;
                line-height: 1.33;
            }
            h6 {
                color: #acacac;
                font-family: ndAstrooner;
                font-size: 16px;
                margin: 0;
            }
            img {
                width: 32px;
                height: 32px;
                position: absolute;
                top: 16px;
                right: 16px;
            }
        }
    }
}

// Notice Side END
// ========== Faq Side =============
.faq {
    h2 {
        color: $color-darkblue;
        font-size: 50px;
        font-family: ndAstrooner;
    }
    p {
        font-size: 24px;
        font-family: ndAstrooner;
        color: $color-darkblue;
        margin-bottom: 28px;
    }
    h1 {
        color: $color-darkblue;
        font-size: 60px;
        font-family: ndAstrooner;
        text-align: center;
    }
    .faq-tabs {
        .bg-shadow{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
        }
        .tab-item {
            overflow: hidden;
            border: solid 2px #f0f0f0;
            border-radius: 18px;
            position: relative;
            margin-bottom: 12px;
            .active {
                max-height: 200px !important;
            }
            .active-head {
                background-color: #f5fbff;
            }
            .active-arrow {
                transform: rotate(180deg) !important;
                &:before,
                &:after {
                    content: "";
                    background: #326691 !important;
                }
            }
            .arrow {
                position: absolute;
                width: 14px;
                height: 14px;
                top: 40%;
                right: 30px;
                transition: transform 0.3s ease;
                transform: rotate(0deg);
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    background: #abbbd9;
                    border-radius: 0.5rem;
                    display: block;
                }
                &.left,
                &.right {
                    width: 24px;
                    &:before {
                        top: 55%;
                    }
                    &:after {
                        bottom: 55%;
                    }
                    &:before,
                    &:after {
                        left: -5%;
                        height: 25%;
                        width: 110%;
                    }
                }
                &.up,
                &.down {
                    height: 22px;
                    &:before {
                        left: 85%;
                    }
                    &:after {
                        right: 95%;
                    }
                    &:before,
                    &:after {
                        top: -5%;
                        height: 110%;
                        width: 30%;
                    }
                }
                &.up {
                    &:before,
                    &:after {
                        transform: rotate(-45deg);
                    }
                    &:after {
                        transform: rotate(45deg);
                    }
                }
                &.down {
                    &:before,
                    &:after {
                        transform: rotate(45deg);
                    }
                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
            .tab-title {
                padding: 28px;
                position: relative;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                .active {
                    color: #326691;
                }
                h4 {
                    color: #0a1f31;
                    font-size: 24px;
                    font-family: ndAstrooner;
                    margin: 0;
                }
            }
            .tab-content {
                transition: all 0.3s ease;
                overflow: hidden;
                max-height: 0px;
                width: 100%;
                p {
                    padding: 28px 28px;
                    color: #7c8993;
                    font-size: 18px;
                    font-family: ndAstrooner;
                    margin: 0;
                }
            }
        }
    }
}

// Faq side END